.home{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    height:calc(100vh - 4rem);
    width:100%;

    > section{
        height: 18.75rem;
        width: 100%;
        margin: auto;
        background: url("../assets/images/camera.jpeg") no-repeat center / cover;
    }
    > h1{
        @include heading(1px);
        margin-top: 3rem;
        @include flex(row, space-between, center)
    }
    .findmore{
        font-size: 1rem;
    }
    > main {
        width:100%;
        display: flex;;
        flex: 1;
        gap: 1rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.product-card{
    position: relative;
    width: 18.75rem;
    height: 25rem;
    padding: 1rem;
    flex:none;
    @include flex(column, flex-start, center, 4rem);

    img{
        @include square(18.75rem - 3rem);
        object-fit: cover;
        margin: 1rem;
    }
    span{
        font-weight: 700;
        font-size: 1.1rem;
    }
    > div {
        @include square(100%);
        position: absolute;
        top :0;
        left: 0;
        background: #0000006b;
        @include flex;

        button {
            @include flex;
            @include square(3rem);
            border-radius: 100%;
            border:none;
        }
    }
}