.home{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    height:calc(100vh - 4rem);
    width:100%;

    > section{
        height: 18.75rem;
        width: 100%;
        margin: auto;
        background: url("../assets/images/heads.png");
    }
}